<div fxLayout="column">
<div class="example-container mat-elevation-z3" fxFlex="84vh" style="overflow-y:auto">
    <h5 matSubheader>Destination: {{param.path}}</h5>
    <mat-divider></mat-divider>

    <label class="md-button md-flat md-warn">
      <input [disabled]="uploadPressed" class= "frame" type="file" multiple (change)="selectFiles($event)" />
    </label>
    
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-mini-fab color="accent" 
            aria-label="Example icon button with a plus one icon"
            [disabled]="!selectedFiles || uploadPressed"
        (click)="uploadFiles()">
              <mat-icon>upload</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-mini-fab color="primary"
            (click)="onGoBack()" 
            aria-label="Example icon button with a menu icon"
            [disabled]="uploadPressed && !isComplete">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
        </div>
      </div>
   
    <div class="frame">  
      <div *ngFor="let progressInfo of progressInfos" >
        <span>{{ progressInfo.fileName }}</span>
        
          <mat-progress-bar mode="determinate" value={{progressInfo.value}}></mat-progress-bar>

        
      </div>
    </div>

    <div *ngIf="isComplete" class="alert alert-light" role="alert">{{ message }}</div>
    <div *ngIf="isComplete" class="alert alert-light" role="alert">Total files: {{ totalFiles }}</div>
    <div *ngIf="isComplete" class="alert alert-light" role="alert">Uploaded files: {{ counterFiles }}</div>
    <div *ngIf="isComplete" class="alert alert-light" role="alert">Errors: {{ counterErrors }}</div>
      
</div>
</div>