.example-container {
  height: 800px;
  overflow: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

table {
  width: 100%;
}

p {
  text-align: right;
}

#father {
  position: relative;
  margin: 0;
  padding: 0;
}

#son1 {
  top: -5rem;
  left: -2rem;
}
