<mat-toolbar color="primary" [class.mat-elevation-z2]="true" class="navbar">
    <div *ngIf="isLoggedIn">
      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <button mat-button>NomatenData</button>
    </div>
    <div *ngIf="!isLoggedIn">
      <button mat-icon-button disabled><mat-icon></mat-icon></button>
      <button mat-button>NomatenData</button>
    </div>
    <div>
      <button [matMenuTriggerFor]="logoutMenu" mat-button *ngIf="isLoggedIn">
        <mat-icon>arrow_drop_down</mat-icon>
        Hi, {{username}}
      </button>
    </div>
</mat-toolbar>

<mat-menu #logoutMenu="matMenu">
  <a mat-menu-item (click)="logout()">
    <span>Logout</span>
</a>
</mat-menu>

<mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/login">
        <mat-icon>storage</mat-icon>
        <span>My Data</span>
    </a>
    <a mat-menu-item routerLink="/register">
        <mat-icon>task</mat-icon>
        <span>My Projects</span>
    </a>
    <a mat-menu-item routerLink="/login">
        <mat-icon>manage_search</mat-icon>
        <span>Search</span>
    </a>
</mat-menu>
