<!-- <div
  fxLayout="row"
  fxLayoutAlign="space-between top"
  fxLayoutGap="10px"
  [style.margin-left]="'10px'"
  [style.margin-right]="'10px'"
  class="stats-cards"
>
  <div fxFlex="50">
    <app-storage-list
      (info)="onInfo($event)"
      (storage)="onStorage($event)"
    ></app-storage-list>
  </div>
  <div fxFlex="50">
    <router-outlet></router-outlet>
  </div>
</div> -->

<section id="container" >
  <div class="box">
    <app-storage-list
    (info)="onInfo($event)"
    (storage)="onStorage($event)"
  ></app-storage-list>
  </div>
  <div class="box">
    <router-outlet></router-outlet>
  </div>
</section>
