<!-- <fieldset [formGroup]="names" [class.hide]="!isVisible(0)">
    <legend>Name</legend>
    <mat-form-field>
        <input type="text" matInput placeholder="Short name" formControlName="shortName">
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput placeholder="Long name" formControlName="longName">
    </mat-form-field>
</fieldset>

<fieldset [formGroup]="access" [class.hide]="!isVisible(1)">
    <legend>Access</legend>
    <mat-radio-group color="primary" class="example-radio-group" formControlName="access">
        <mat-radio-button >Private</mat-radio-button>
        <mat-radio-button >Protected</mat-radio-button>
        <mat-radio-button >Public</mat-radio-button>
    </mat-radio-group>
</fieldset>

<fieldset [formGroup]="device" [class.hide]="!isVisible(2)">
    <legend>Device</legend>
    <mat-form-field>
        <input type="text" matInput placeholder="Device name" formControlName="deviceName">
    </mat-form-field>
</fieldset> -->
