<mat-card class="change-password-page">
  <mat-card-title>Change password</mat-card-title>
  <mat-card-content>
  
    <form mat-dialog-content [formGroup]="group" class="change-password-form">

          <!-- <mat-form-field>
            <input type="text" matInput placeholder="Old password" formControlName="oldPassword">
            <mat-error>Password must have 8-20 signs (lower case, upper case, and numeric)</mat-error>
          </mat-form-field> -->
          <mat-form-field class="example-form-field2">
            <input [disabled]="true" type="text" matInput placeholder="New password" formControlName="newPassword">
            <mat-error>Password must have 8-20 signs (lower case, upper case, and numeric)</mat-error>
          </mat-form-field>
          <mat-form-field class="example-form-field2">
            <input type="text" matInput placeholder="Confirm new password" formControlName="newPasswordRepeat">
            <mat-error *ngIf="f.newPasswordRepeat?.errors?.MustMatch">Confirm password does not match</mat-error>
          </mat-form-field>
          
        <button (click)="onChangePassword()" mat-raised-button color="primary"  [disabled]="!group.valid">
            Change password
        </button>
        <!-- <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="true"
      >
        Change password
      </button> -->
    </form>

  </mat-card-content>
</mat-card>
