<form mat-dialog-content [formGroup]="general" class="dialog-form" class="widen">
    
  <!-- <fieldset [formGroup]="general" class="widen"> -->
    <!-- <legend>General</legend> -->
    <mat-radio-group color="primary" class="example-radio-group" formControlName="access">
        <mat-radio-button value="PRIVATE" >Private</mat-radio-button>
        <mat-radio-button value="PROTECTED">Protected</mat-radio-button>
        <mat-radio-button value="PUBLIC">Public</mat-radio-button>
        <!-- <mat-error *ngIf="access.errors && packageName.access?.noAccess">no access</mat-error> -->
    </mat-radio-group>
    <mat-form-field class="example-form-field2">
        <input type="text" matInput placeholder="Short name" formControlName="shortName">
        <mat-error>Short name cannot be empty or exceed 30 characters</mat-error>
    </mat-form-field>
    <mat-form-field class="example-form-field2">
        <input type="text" matInput placeholder="Long name" formControlName="longName">
        <mat-error>Long name cannot be empty or exceed 50 characters</mat-error>
    </mat-form-field>
    <mat-form-field class="example-form-field2" appearance="outline">
      <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows = "2" placeholder="Description" formControlName="description"></textarea>
      <mat-error>Description cannot be empty or exceed 500 characters</mat-error>
    </mat-form-field>
  <!-- </fieldset> -->
  <button (click)="onCreateMetadata()" mat-raised-button color="primary"  [disabled]="!general.valid">
      Create metadata for {{name}}
  </button>
</form>
