<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form
      class="login-form"
      #loginForm="ngForm"
      (ngSubmit)="login(loginForm, $event)"
    >
      <mat-form-field>
        <input
          matInput
          type="text"
          name="username"
          placeholder="Username"
          ngModel
          [ngModelOptions]="{ updateOn: 'blur' }"
          #username="ngModel"
          required
          minlength="5"
          maxlength="40"
        />
        <mat-error *ngIf="username.errors?.required"
          >The username is mandatory</mat-error
        >
        <mat-error *ngIf="username.errors?.minlength">
          Your username must have at least
          {{ username.errors?.minlength.requiredLength }} chars, but it only has
          {{ username.errors?.minlength.actualLength }}.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          name="password"
          placeholder="Password"
          ngModel
          #password="ngModel"
          required
          passwordStrength
          minlength="8"
        />

        <mat-error *ngIf="password.errors?.required"
          >The password is mandatory</mat-error
        >
      </mat-form-field>

      <ng-container
        *ngIf="
          password.errors
            | onlyOneError: ['minlength', 'passwordStrength'] as error
        "
      >
        <div class="field-message" *ngIf="error.minlength">
          Your password must have
          {{ error.minlength.requiredLength }} chars, but it only has
          {{ error.minlength.actualLength }}.
        </div>
        <div class="field-message" *ngIf="error.passwordStrength">
          Password must have lower case, upper case, numeric.
        </div>
      </ng-container>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
