<div fxLayout="column">
    <div class="example-container mat-elevation-z3" fxFlex="89vh" style="overflow-y:auto">
      <h4 matSubheader>metadata: {{ infoState.infoName }}</h4>
      
      <mat-divider></mat-divider>
      
      <!-- general -->
      <fieldset [disabled]="infoState.isFormDisabled" [formGroup]="general">
        <legend>General</legend>

        

          <mat-radio-group color="primary" class="example-radio-group" formControlName="access">
              <mat-radio-button value="PRIVATE" >Private</mat-radio-button>
              <!-- <mat-radio-button value="PROTECTED">Protected</mat-radio-button> -->
              <mat-radio-button value="PUBLIC">Public</mat-radio-button>
          </mat-radio-group>
          <mat-form-field >
            <mat-label>Date</mat-label>
            <input [disabled]="true" matInput type="text" formControlName="localDate">
          </mat-form-field>

        <mat-form-field>
            <input type="text" matInput placeholder="Short name" formControlName="shortName">
            <mat-error>Short name cannot be empty or exceed 50 characters</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Long name" formControlName="longName">
            <mat-error>Long name cannot be empty or exceed 80 characters</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <textarea matInput matTextareaAutosize matAutosizeMinRows="8" matAutosizeMaxRows = "8" placeholder="Description" formControlName="description"></textarea>
          <mat-error>Description cannot be empty or exceed 1000 characters</mat-error>
        </mat-form-field>
      </fieldset>
      
      <!-- difr -->
      <fieldset *ngIf="infoState.isDifr" [disabled]="infoState.isFormDisabled" [formGroup]="difr">
        <legend>Diffractometer</legend>
        <mat-form-field>
          <mat-label>Geometry</mat-label>
          <mat-select placeholder="Geometry" [disabled]="infoState.isFormDisabled" formControlName="geometry">
            <ng-container *ngFor="let geometry of geometries" matNativeControl >
              <mat-option [value]="geometry">{{geometry}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>Geometry is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Incident soller" formControlName="incidentSoller">
          <mat-error>Incident soller is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Incident slit" formControlName="incidentSlit">
          <mat-error>Incident slit is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Detector soller" formControlName="detectorSoller">
          <mat-error>Detector soller is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Detector slit" formControlName="detectorSlit">
          <mat-error>Detector slit is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Detector absorber</mat-label>
          <mat-select placeholder="Detactor absorber" [disabled]="infoState.isFormDisabled" formControlName="detectorAbsorber">
            <ng-container *ngFor="let detectorAbsorber of detectorAbsorbers" matNativeControl >
              <mat-option [value]="detectorAbsorber">{{detectorAbsorber}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>Detector absorber is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Generator voltage" formControlName="generatorVoltage">
          <mat-error>Generator voltage is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Generator current" formControlName="generatorCurrent">
          <mat-error>Generator current is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Data range start" formControlName="dataRangeStart">
          <mat-error>Data range start is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Data range end" formControlName="dataRangeEnd">
          <mat-error>Data range end is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Step size" formControlName="stepSize">
          <mat-error>Step size is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Step time" formControlName="stepTime">
          <mat-error>Step time is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Stage</mat-label>
          <mat-select placeholder="Stage" [disabled]="infoState.isFormDisabled" formControlName="stage">
            <ng-container *ngFor="let stage of stages" matNativeControl >
              <mat-option [value]="stage">{{stage}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>Stage is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Spinning Rocking</mat-label>
          <mat-select placeholder="Spinning Rocking" [disabled]="infoState.isFormDisabled" formControlName="spinningRocking">
            <mat-option [value]="true">true</mat-option>
            <mat-option [value]="false">false</mat-option>
          </mat-select>
          <mat-error>Spinning Rocking is empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Spinning rocking velocity" formControlName="spinningRockingVelocity">
          <mat-error>Spinning Rocking velocity is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Temperature" formControlName="temperature">
          <mat-error>Temperature is invalid or empty</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Comments" formControlName="comments">
          <mat-error>Comments is empty</mat-error>
        </mat-form-field>
      </fieldset>

      <!-- test -->
      <fieldset *ngIf="infoState.isTest" [disabled]="infoState.isFormDisabled" [formGroup]="test">
        <legend>Test</legend>
        <mat-form-field>
          <input type="text" matInput placeholder="Test Field 1" formControlName="testField1">
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Test Field 2" formControlName="testField2">
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Test Field 3" formControlName="testField3">
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Test Field 4" formControlName="testField4">
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Test Field 5" formControlName="testField5">
        </mat-form-field>
      </fieldset>

    </div>

    <p id="father">
      <button [matMenuTriggerFor]="metadataMenu" [disabled]="infoState.hasMetadata || !infoState.isFormDisabled" mat-button  id="son1"  mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
        <mat-icon>add</mat-icon>
      </button>    
      <mat-menu #metadataMenu="matMenu" yPosition="above" xPosition="before">
        <button mat-menu-item (click)="addDiffractometer()">Diffractometer</button>
        <button mat-menu-item (click)="addTest()">Test</button>
      </mat-menu>


      <button *ngIf="infoState.isFormDisabled" [matMenuTriggerFor]="enableMenu" color="primary" mat-button id="son2" mat-mini-fab>
        <mat-icon>mode</mat-icon>
      </button>
      <mat-menu #enableMenu="matMenu" yPosition="above" xPosition="before">
        <button mat-menu-item (click)="toggleIsFormDisabled()">Edit</button>
      </mat-menu>
      <button *ngIf="!infoState.isFormDisabled" [matMenuTriggerFor]="disableMenu" color="warn" mat-button id="son2" mat-mini-fab>
        <mat-icon>save</mat-icon>
      </button>
      <mat-menu #disableMenu="matMenu" yPosition="above" xPosition="before">
        <button mat-menu-item (click)="updateChanges()">Save changes</button>
        <button mat-menu-item (click)="giveUpChanges()">Give up changes</button>
      </mat-menu>
    </p>

    
</div>




