<div fxLayout="column">
    <div class="example-container mat-elevation-z3" fxFlex="84vh" style="overflow-y:auto">
      <h5 matSubheader>Metadata {{ order }}</h5>
      <mat-divider></mat-divider>
      <form class="metadata-form data-form" [formGroup]="form">
        <mat-form-field>
          <input matInput type="text" name="name" placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" name="owner" placeholder="Owner" formControlName="owner">
        </mat-form-field>
      </form>

      <div class="form-val">
        {{ form.value | json }}
      </div>
      <div class="form-val">
        {{ form.valid }}
      </div>

      <button (click)="toggleDisable()" mat-icon-button>{{disabled? 'enable' : 'disable'}}</button>
    </div>

</div>

